

  <div class="jumbotron">
    <h1> Mobile Key Server Demo </h1>
    <p>Welcome to the Authentication Demo </p>
    <ul>
      <% if (loggedIn) {%>
      <li><a href="/profile">See your profile </a></li>
      <li><a href="/profiles">See everyone's profile</a></li>
      <li><a href="/todo">See your to do list </a></li>
      <li><a href="/todoAjax">See your to do list with Ajax </a></li>
      <li><a href="/appKey">Register your mobile app</a></li>
      <% } %>
    </ul>
  </div>
